@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-width: 100vh;
    background: url(bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.side-bar{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    height: 100vh;
    width: 290px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.side-bar .menu{
    width: 100%;
    margin-top: 80px;
}
.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}
.side-bar .menu .item a{
    color: #fff;
    background: #8621fb;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}
.side-bar .menu .item a:hover{
    background: #8621fb;
    transition: 0.3s ease;
}
.side-bar .menu .item i{
    margin-right: 15px;
}